<h1>Welcome <%= current_user.email if not current_user.nil? %></h1>
<p>This is a web application that allow you to improve you language skills. You can upload a database of questions and answers, then you can test yourself to know if you know that answers. </p>
<h2 id="result"></h2>
<div id="matrix"></div>