<p>The file should be like this:</p>

<div>
<p>Q: Oi!<br />
A: Cześć!<p> 

<p>Q: Bom Dia.<br />
A: Dzień dobry.</p>

<p>Q: Boa Noite.<br />
A: Dobry wieczór.<br />
A: Dobranoc.</p>
</div>

<p>
	Where the questions should be identified the letter "Q" followed by comma. And the answer should be identified by the letter "A" followed by comma as well. 
</p>
<p>	
	A question can have more than one answer.
</p>
<p>	
	Line breaks between blocks of questions and answers do not affect the layout.
</p>

<%= link_to "Back", "/knowledge/manage" %>

